@use "../util" as u;

.back-call {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  &__content {
    position: relative;
    background-color: var(--white);
    border-radius: 15px;
    width: 431px;
    padding: 36px 47px;
    text-align: center;

    form {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 30px;
    }

    .back-call__text {
      margin-bottom: 70px;
    }

    .button-gradient {
      margin-top: 19px;
      margin-bottom: 17%;
    }
  }

  &__close::before {
    content: "";
    position: absolute;
    background-image: url("../assets/images/modal-close-button.png");
    width: 27px;
    height: 27px;
    top: 17px;
    right: 21px;
  }
}

.sucsess {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  &__content {
    position: relative;
    background-color: var(--white);
    border-radius: 15px;
    width: 431px;
    padding: 36px 47px;
    text-align: center;

    h3 {
      margin-bottom: 30px;
      color: var(--red);
    }

    img {
      margin: 0 auto;
      position: relative;
      width: 100%;
    }
  }

  &__text {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 211px;
  }

  &__close::before {
    content: "";
    position: absolute;
    background-image: url("../assets/images/modal-close-button.png");
    width: 27px;
    height: 27px;
    top: 17px;
    right: 21px;
  }
}

.full-ingredients {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  &__content {
    position: relative;
    background-color: var(--white);
    border-radius: 15px;
    width: 751px;
    padding: 36px clamp(u.rem(32), 5vw, u.rem(47));
    padding-bottom: clamp(u.rem(36), 4.5vw, u.rem(45));
    text-align: center;

    h3 {
      margin-bottom: clamp(u.rem(12), 3vw, u.rem(38));
      color: var(--purple);
    }

    .button-gradient {
      margin: 0 auto;
    }
  }

  &__text {
    margin: 0 auto;
    margin-bottom: clamp(u.rem(36), 4.5vw, u.rem(45));
    text-align: left;
    max-height: calc(65vh - 58px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 32px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0px 4px 20px #cae5ff;
      border-radius: 30px;
    }

    &::-webkit-scrollbar-thumb {
      border: 6px solid rgb(243, 249, 255);
      //box-shadow: 0px 4px 30px rgba(80, 171, 255, 0.5);
      border-radius: 30px;
      background: #594272;
    }
  }

  &__close::before {
    content: "";
    position: absolute;
    background-image: url("../assets/images/modal-close-button.png");
    width: 27px;
    height: 27px;
    top: 17px;
    right: 21px;
  }
}
